.cardstyle {
    max-width: 900px;
    height: auto;
    margin-bottom: 50px;
}

.fotoperfil {
    width: 30px;
    border-radius: 50%;
}

.btnContainer {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.btnContainer button {
    background-color: #CBF3F0;
    border: none;
    padding: 1px;
    font-size: 1rem;
    width: 10em;
    height: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0.4rem #dfd9d9;
    cursor: pointer;
}

.btnContainer button button:active {
    color: #CBF3F0;
    box-shadow: 0 0.2rem #dfd9d9;
    transform: translateY(0.2rem);
}

.btnContainer button button:hover:not(:disabled) {
    background: #CBF3F0;
    color: white;
    text-shadow: 0 0.1rem #bcb4b4;
}


.btnContainer button button:disabled {
    cursor: auto;
    color: rgb(128, 128, 128);
}

.commentContainer {
    display: flex;
    justify-content: flex-start
}


.commentContainer img {
    width: 30px;
    margin-right: 10px;
    border-radius: 50%;
}

.detallesBtn {
    background-color: #ffbf69 !important;
    border: none;
}