footer {
    background-color: #FFBF69;
    color: white;
    font-size: .5em;
    text-align: center;
    padding: 4px;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0
}

a {
    text-decoration: none !important;
    color: white;
}

a:hover {
    color: white;
}