footer {
    background-color: #FF9f1c;
    color: rgba(255, 255, 255, 0.6);
    font-size: .5em;
    text-align: center;
    padding: 4px;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}

a {
    color: rgba(255, 255, 255, 0.6)
}

a:hover {
    color: rgba(255, 255, 255, 0.6);
}

.footer img {
    width: 8%;
    height: 55%;
}