.dislikeBtn {
    background-color: transparent !important;
    box-shadow: none !important;

}

.likeBtn {
    background-color: transparent !important;
    box-shadow: none !important;
}

button h5 {
    font-family: sans-serif;
}