.detailscard {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 2px 2px 5px #ffbf69;

}

.detallesPost {
    margin-top: 50px !important;
}

.logoCute {
    text-decoration: none !important;
    color: black;
}

.volver {
    display: flex !important;
    justify-content: space-around;
}

.deleteComment {}